
@{
    ViewBag.Title = "Location";
}
<div class="page-content">
    <h1>Celebration Location</h1>
    <div class="row">
        <div class="col-md-5">
            <h2>Mather Lanes</h2>
            <h3>
                W180S7881 Pioneer Dr<br/>
                Muskego, WI 53150
            </h3>
            <h3>
                Join us for Beer &amp; Bowling<br/>
                Saturday, April 16, 2016<br/>
                7:00 PM - 12:00 AM
            </h3>
            <h1><a href="@Url.Action("Rsvp")">RSVP Today!</a></h1>
        </div>
        <div class="col-md-7">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2922.6313452110458!2d-88.14249038422317!3d42.9017242087136!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88050a45ddef9fa5%3A0xca8005465396dd09!2sMather+Lanes!5e0!3m2!1sen!2sus!4v1458962247403" width="600" height="450" frameborder="0" style="border: 0" allowfullscreen></iframe>
        </div>
    </div>
    
</div>
